<html>
    <head>
        <title>Online Status</title>
        <link rel="stylesheet" href="static/css/valid.css" type="text/css"/>
    </head>
    <body bgcolor="lightblue">
        <div id="header" align="center">Loan Application</div>
        <div class="form-style">
            <h2>Your Availability Status</h2>
            <form name="form1" method="POST" action="#" autocomplete="off">
                <table align="center" width="400">
                    <tr>
                        <td>Availability Status </td>
                        <td>
                            <div class="input-group">
                                <select id="status" name="status" required>
                                    <option value="Offline">Offline</option>
                                 </select>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="btn">
                    <center>
                        <input type="submit" id="seeddoc" value="Submit">
                    </center>
                </div>
            </form>
        </div>
    </body>
</html>
